h1 {
	color: red;
}

.box {
	width: 100px;
	height: 50px;
	color: orange;
	background-color: darkblue;
	text-align: center;
}

.click {
	color: red;
}

.slide {
	position: relative;
}

img {
	margin: auto;
	display: block;
	padding-bottom: 20px;
}